body {
  font-family: "Lato", sans-serif;
}
.navbar {
  background-color: #2d3436;
}
.navbar-header {
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  color: white;
}
.navbar .a-link {
  text-decoration: none;
  text-align: right;
  font-size: 20px;
  color: white;
}
.sidenav {
  padding-top:10px;
  background-color: #636e72 ;
  
}
.sidenav .title {
  font-size: 25px;
  padding-left: 2px;
  text-decoration: none;

}
.sidenav a {
  padding-left: 2px;
  text-decoration: none;  
  font-size: 20px;
  color: #dfe6e9;
  display: block;
}
.sidenav a:hover {
  color: white;
}

footer {
  background-color: #000000;
  color: #ffffff ;
  padding: 15px;

}

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  
  padding: 15px;
}
.flex-container .q-card {
  background: -moz-linear-gradient(top, #55efc4 0%, #00b894 45%);
  background: -webkit-linear-gradient(top ,#55efc4 0%, #00b894 45%);
  background: linear-gradient(to bottom, #55efc4 0%, #00b894 45%);
  color: white;
  box-shadow: 6px 0px 18px -6px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 5%;
  border-radius: 5%;
  border-style: solid;
  border-width: 3px;
  max-width: 250px;
  min-width: 200px;
  max-height: 300px;
  min-height: 300px;
  margin: 8px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  padding: 5px;
  font-size: 15px;
}
.flex-container .q-card:hover {
  -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 123, 123, 0.3);
  box-shadow: 0px 0px 15px 5px rgba(36, 224, 33, 0.61);
  transform: scale(1.02);
  transition: all 0.5s ease-in-out;

}
.flex-container .q-card .card-body p {
  color: white;
}
.flex-container .q-card .card-body-author p {
  font-style: oblique;
  color: white;
}
.flex-container .q-card .card-actions {
border-top: 1px solid white;
display: flex;
-webkit-box-pack: justify;
align-content: center;
align-items: center;
justify-content: space-around;
width: 100%;
cursor: pointer;
}
.flex-container .q-card .card-actions i {

margin-top: 6px;
color: white;
border: 2px solid transparent;
padding: 4px;
}
.flex-container .q-card .card-actions i:hover {
background: #fefffe70;
border: 2px solid #fefffe70;
border-radius: 4px;
}
